<div>
<%= link_to("まずは会員登録する","https://form.run/@questionnare-form-scaneat")%>
</div>
<div class="order_form">
  <%= link_to("会員登録せず注文する","https://form.run/@order-form-scaneat")%>
</div>
<div class="questionnare_form">
  <%= link_to("アンケート","https://form.run/@questionnare-form-scaneat") %>
</div>
<div class="reserve_form">
  <%= link_to("練習","/index")%>
</div>

<div class="">
  <%= link_to("1","/1")%>
</div>
